nav {
    display: flex;
    justify-content: center;
    height: 10vh;
    border-radius: 0 0 20px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #272c31;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links .title-logo {
    margin-right: 20px;
    width: 45px;
    height: auto;
    object-fit: contain;
}

.navbar-links .title-name {
    font-size: 2rem;
    font-weight: 700;
    color: #0066ff;
    margin-bottom: 5px;
}

.navbar form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    padding-bottom: 2px;
}

.search-form input{
    width: 300px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 14px;
    padding-left: 10px;
}

.navbar select {
    width: 300px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 10px;
}

.search-form button {
    border: none;
    background: none;
    cursor: pointer;
}

.search-form .search_icon {
    background-color: #0066ff;
    height: 38px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
}