nav {
    display: flex;
    justify-content: center;
    min-height: 10vh;
    border-radius: 0 0 20px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #272c31;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links .title-logo {
    margin-right: 20px;
    width: 45px;
    height: auto;
    object-fit: contain;
}

.navbar-links .title-name {
    font-size: clamp(1.5rem, 4vw, 2rem);
    font-weight: 700;
    color: #0066ff;
    margin-bottom: 5px;
}

.navbar form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    padding-bottom: 2px;
}

.search-form input {
    width: clamp(200px, 40vw, 300px); /* Smaller width on smaller screens */
    height: clamp(30px, 5vw, 38px);
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    font-size: clamp(12px, 2vw, 14px);
    padding-left: 10px;
}

.navbar select {
    width: clamp(200px, 40vw, 300px); /* Adjust select box size similarly */
    height: clamp(30px, 5vw, 38px);
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: clamp(12px, 2vw, 14px);
    padding-left: 10px;
}

.search-form button {
    border: none;
    background: none;
    cursor: pointer;
}

.search-form .search_icon {
    background-color: #0066ff;
    height: clamp(30px, 5vw, 38px);
    width: clamp(30px, 7vw, 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .search-form {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .search-form {
        width: 100%; /* Full width on small screens */
        margin-right: 0;
    }
    
    .search-form input {
        width: 100%; /* Full width input on small screens */
    }
    
    .navbar select {
        width: 100%; /* Full width select on small screens */
    }
}
